
<%= form_tag(recipes_path,:method=> "get",remote: false,id:"search_form", class:"form-horizontal" ) do %>
<div class="form-group">
<p align="center">
<%= label_tag :search, "Awesome Recipes!",id:"label_for_search" %>
<p align="center">
  Powered By Food2Fork.com
</p>
</p>
    <%= text_field_tag :search,nil, class: "form-control", onchange:"formHandle()" %>
</div>
<br/>
<div class="form-group">
  <p align="center">
          <%= submit_tag 'Search', class:"btn btn-warning btn-lg"%>
  </p>
</div>
<% end %>
<div class="container-fluid">
    <%= render "recipes" %>
    <div class="text-center">
          <%= will_paginate @recipes, renderer: BootstrapPagination::Rails %>
    </div>
</div>
