<!DOCTYPE html>
<html>
<head>
  <title>Awesome Recipes!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Awesome Recipes!</a>
    </div>
  </div>
</nav>
<div class="container">
  <br/>
  <br/>
  <br/>
  <br/>
  <%= yield %>
  <div class="footer">
      <p class="paragraph" align="center"> <strong>Awesome Recipes! - <%= Time.now().year()%> </strong>  </p>
  </div>
</div>
</body>
</html>
